/* Variabili CSS */
:root {
    --secondary-text-color: #000000; /* Nero */
    --primary-text-color: #0224E0; /* Blu */
    --title-text-color: #011baa;
}

/* Stile generale */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.header-link {
    font-size: clamp(1rem, 1vw, 1vw);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--secondary-text-color);
    text-decoration: none;
    cursor: default;
}

#countdown{
    text-align: right;
}

#countdown span{
letter-spacing: 0.5rem;
}

.unit {
  font-weight: lighter;
}

.separator {
    height: 1px;
    background-color: var(--primary-text-color);
    margin: 0.3rem 0;
}

.title {
    color: var(--title-text-color);
    font-size: calc(90vw / 4);
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    margin-top: 0.5rem;
}

.title-anchor{
  cursor: default !important;
  text-decoration: none !important;
}

.description{
  font-size: clamp(2.3rem, 4.5vw, 4.5vw);
  font-weight: bold;
  letter-spacing: -0.1rem;
}
/* Stile per il contenuto della descrizione */
.description p {
  color: var(--primary-text-color);
  margin-bottom: 0;
}

.description .highlight {
  color: var(--secondary-text-color);
}

.container {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .scroll {
    white-space: nowrap;
    gap: 2rem;
  }

  .scroll div {
    display: flex;
    background-color: yellow;
  }

  .scrollRightToLeft {
    animation: scrollRightToLeft 300s infinite linear;
  }

    .countdown {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.1em;
    }

 #launch-link {
    font-size: 1.1rem;
}

  
  @keyframes  scrollRightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .scrollLeftToRight {
    animation: scrollLeftToRight 300s infinite linear;
  }
  
  @keyframes  scrollLeftToRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }

  /* Stile delle righe */

/* Alterna i colori */
.scroll div:nth-child(even) {
    color: var(--primary-text-color);
}

.scroll div:nth-child(odd) {
    color: var(--secondary-text-color);
}

/* Animazioni */
.scrollRightToLeft,
.scrollLeftToRight {
    animation-play-state: paused; /* Animazione ferma di default */
}

.scroll.active .scrollRightToLeft,
.scroll.active .scrollLeftToRight {
    animation-play-state: running; /* Animazione attiva quando hover */
}

/* Media query per schermi piccoli */
@media (max-width: 768px) {
  .description {
      line-height: 2.6rem; /* Riduci line-height per schermi piccoli */
  }
}

/* Media query per schermi medi */
@media (min-width: 769px) and (max-width: 1024px) {
  .description {
      line-height: 2.8rem; /* Line-height moderato per schermi medi */
  }
}

/* Media query per schermi grandi */
@media (min-width: 1025px) {
  .description {
      line-height: 4rem; /* Line-height più ampio per schermi grandi */
  }
  .scroll div{
    font-size: 1.5vw;
  }
}
